# Terraform
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/*.tfstate.*
**/.terraform.lock.hcl

# Känsliga filer
**/terraform.tfvars
**/*.auto.tfvars

# SSH-nycklar
**/keys/*
!**/keys/*.pub

# Editor
.vscode/
.idea/

# macOS
.DS_Store